#wrapper{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
header {
  width: 100%;
  height: 70px;
  min-width: 500px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  color: #221F1F;
}

h1{
  display: block;
  position: absolute;
  left: 150px;
}

h2{
  font-size: 25px;
  padding: 0px auto;
}

#header-img {
  width: 70px;
  aspect-ratio: 3 / 2;
  padding: 0.4rem;
  padding-left: 2.5rem;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: orange;
  margin-top: 80px; 
  color: #DFF6FF;
  display: flex;
  justify-content: center;
  text-align: center;
}

#email{
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 25px;
}

#submit, button{
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 25px;
  background-color: #0B212F;
  color: #ffffff;
  border: 1px solid #0B212D;
  border-radius: 3%;
  cursor: pointer;
}

button{
  margin-top: 80px;
  font-size: 20px;
  width: 150px;
  height: 30px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0px;
  margin-right: 40px;
  height: 100%;
  
}

nav > ul > li {
  color: #221F1F;
  margin: 0 0.2rem;
  padding: 1.4rem;
  display: block;
  
}

nav > ul > li:hover {
  background-color: #A49E9E;
  color: #060606;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

.nav-link{
  font-size: 1.2rem;
}

.description{
  list-style: none;
  text-align: left;
  font-size: 18px;
}

.heading {
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
  font-size: 20px;
}

#pricing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
div{
  width: 800px;
  margin: 0px auto;
}

.outer{
  height: 300px;
  width: 250px;
  border: 1px solid ;
}

.inner{
  height: 70px;
  width: 250px;
  background-color: #0B212F;
  
}

.purchase{
  padding: 20px;
  margin: auto;
  font-size: 20px;
}

button:hover{
  color: white;
}

footer {
  padding: 1px;
}

@media only screen and (max-width: 750px) {
  body {
    font-size: 0.8rem;
  }
}
